<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Static file MIME types for JSON config file -->
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>

    <!-- URL Rewriting for Angular SPA routing -->
    <rewrite>
      <rules>
        <!-- Rule 1: Don't rewrite requests for actual files or directories -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile"/>
          </conditions>
          <action type="None"/>
        </rule>

        <!-- Rule 2: Don't rewrite requests for directories -->
        <rule name="DirectoryBrowsing" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory"/>
          </conditions>
          <action type="None"/>
        </rule>

        <!-- Rule 3: Rewrite all other requests to index.html for Angular SPA -->
        <rule name="SPA" stopProcessing="true">
          <match url="^(.*)$"/>
          <action type="Rewrite" url="index.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>